<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>CineNZB-NZBs</title>
</head>
<body>
    <h1>NZB Files</h1>
    <ul>
        {% for nzb in nzbs %}
            <li>File: {{ nzb.filename }}</br>
                Path: {{ nzb.path }}</br>
                <a href="/download/{{ nzb.path }}">Download</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>